.idea/
*.iml
*.iws
.vscode/
.DS_Store
Thumbs.db
.settings/
.classpath
.project
.faktorypath

target/
*.class
*.jar
*.war
.mvn/
release.properties
dependency-reduced-pom.xml
buildNumber.properties

node_modules/
dist/
.angular/

logs/
*.log
