.idea/
.vscode/
*.iml
*.log

### Backend (Gradle & Java) ###
Backend/.gradle/
Backend/build/
Backend/target/
Backend/out/
Backend/bin/
Backend/.settings/
Backend/.classpath
Backend/.project
Backend/.factorypath
Backend/*.class
Backend/*.jar

# Maven
Backend/dependency-reduced-pom.xml

### Frontend (Node) ###
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/*.log
lib/
