name: Java CI & Formatting

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Backend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'Backend/**'

jobs:
  check-code:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./Backend

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'      
        distribution: 'temurin'
        cache: maven

    - name: Check Code Formatting (Spotless)
      run: ./mvnw spotless:check 

    # - name: Build and Test
    #   run: ./mvnw clean verify

